/* Imported Fonts*/
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');
@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:700');

/* Color of entire page */
body {
	background: #fafafa;
}

/* -----------------------HEADER----------------------- */
/* Appearance of the header */
.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background: #fafafa;
	color: #333333;
	font-family: 'Arbutus Slab', serif;
	font-size: 2.3em;
	padding: 0px 30px;
	padding-top: 3px;
	height: 90px;
	width: 100%;
	position: fixed;
	z-index: 3;
}

/* Links on the header will have this color */
.header .header-links a {
	color: #333333;
}

.image-container {
	padding-top: 90px;
	display: flex;
	flex-flow: row wrap;
	position: relative;
}
/* -----------------------HEADER----------------------- */



/* -----------------------PROJECT BOXES----------------------- */
/*This determines how many boxes show up in each row on the page*/
.image-container .image {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	height: 33.333vw;
	width: 33.333%;
	position: relative;
}

/*Rotates */
.image-container .image.active .image-content {
	transform: rotateY(180deg);
}

.image-container .image .image-content {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
}

.image-container .image .image-content .image-img,
.image-container .image .image-content .image-description {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.6s;
}

.image-container .image .image-img {
	transform: rotateY(0deg);
	z-index: 2;
}

.image-container .image .image-img img {
	width: 100%;
}

.image-container .image .image-img:after {
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	position: absolute;
	transition: background 0.3s;
}

.image-container .image:hover .image-img:after {
	background: rgba(255, 255, 255, 0.1);
}


/* Formatting for description */
.image-container .image .image-description {
	box-sizing: border-box;
	background: #f0e9f3;
	display: flex;
	flex-flow: column nowrap;
	top: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotateY(180deg);
}

/* Font for the description of the tile card */
.image-container .image .image-description .description {
	font-size: 26px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	line-height: 102%;
	margin: 10px;
}

/* Font for the title of the tile card */
.image-container .image .image-description .title {
	font-size: 4.2vw;
	margin: 5px 10px;
	font-family: 'Rubik', sans-serif;
}

/* Position of the "See More" button */
.image-container .image .image-description .action {
	position: absolute;
	left: 0;
	bottom: 60px;
	margin: auto;
	text-align: center;
	width: 100%;
	font-family: 'Rubik', sans-serif;
}

.image-container .image .image-description .action a {
	background: #6596b8;
	color: #f0e9f3;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 2vw;
}

.image-container .image .image-description.orange .action a {
	background: black;
}
/* -----------------------PROJECT BOXES----------------------- */



/* -----------------------SPECIFIC COLORS FOR EACH TILE CARD----------------------- */
/* SUMMERTIME SCRIBBLES */
.image-container .image .image-description.summertime-scribble {
	background: #f0e9f3;
}
.image-container .image.summertime-scribble .image-description .title {
	color: #6596b8;
}
.image-container .image.summertime-scribble .image-description .description {
	color: #6596b8;
}
.image-container .image.summertime-scribble .image-description .action a {
	background: #6596b8;
	color: #f0e9f3;
}


/* CLASSY RAPTOR */
.image-container .image.classy .image-description{
	background: white;
}
.image-container .image.classy .image-description .title{
	color: black;
}
.image-container .image.classy .image-description .description{
	color: black;
}
.image-container .image.classy .image-description .action a {
	background: black;
	color: white;
}


/* THE ROMAN GARDEN */
.image-container .image.roman .image-description{
	background: #080808;
}
.image-container .image.roman .image-description .title{
	color: #a1a1a1;
}
.image-container .image.roman .image-description .description{
	color: #a1a1a1;
}
.image-container .image.roman .image-description .action a {
	background: #a1a1a1;
	color: #080808;
}

/* SQRE */
.image-container .image.sqre .image-description{
	background: #fac15d;
}
.image-container .image.sqre .image-description .title{
	color: #d2503b;
}
.image-container .image.sqre .image-description .description{
	color: #d2503b;
}
.image-container .image.sqre .image-description .action a {
	background: #d2503b;
	color: #fac15d;
}

/* SONIC */
.image-container .image.sonic .image-description{
	background: #ffcf62;
}
.image-container .image.sonic .image-description .title{
	color: #336f87;
}
.image-container .image.sonic .image-description .description{
	color: #336f87;
}
.image-container .image.sonic .image-description .action a {
	background: #336f87;
	color: #ffcf62;
}

/* SEEQ */
.image-container .image.seeq .image-description{
	background: #f1f3f9;
}
.image-container .image.seeq .image-description .title{
	color: #a9b7d8;
}
.image-container .image.seeq .image-description .description{
	color: #a9b7d8;
}
.image-container .image.seeq .image-description .action a {
	background: #a9b7d8;
	color: #f1f3f9;
}

/* -----------------------SPECIFIC COLORS FOR EACH TILE CARD----------------------- */



/* -----------------------ABOUT PAGE CLASSES----------------------- */
.about-image {
	padding-top: 150px;
	text-align: center;
}

#timmy-img {
	max-height: 450px;
}

.text-container {
	font-family: 'Arbutus Slab', serif;
	font-size: 13pt;
	line-height: 1.4;
	color: #333333;
	text-align: justify;
	min-width: 75px;
	max-width: 35em;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	display: flex;
	flex-flow: row wrap;
	position: relative;
}

.social-container{
	align-content: center;
	display: flex;
	flex-flow: row wrap;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.social-icons{
	padding-left: 10px;
	padding-right:10px;
}

#social-ico{
	max-width: 55px;
	max-height: 55px;
}
/* -----------------------ABOUT PAGE CLASSES----------------------- */



/* -----------------------CLASSES FOR PROJECT PAGES----------------------- */
/*Appearance of title of the Project Page*/
.project-title {
	font-family:'Arbutus Slab', serif;
	font-size: 72px;
	color: #333333;
	padding-top: 150px;
	text-align: center;
}

/*The width of the content on the screen*/
.project-container{
	max-width: 40em;
	align-content: center;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	flex-flow: row wrap;
	position: relative;
}

/*Appearance of all text on the project pages*/
.project-description {
	font-family: 'Arbutus Slab', serif;
	font-size: 13pt;
	line-height: 1.4;
	color: #333333;
	text-align: justify;
	min-width: 50px;
	max-width: 100%;
	margin-top: 28px;
	margin-bottom: 20px;
}
 
/*Spacing between each image*/
.project-image {
	padding-top: 10px;
}

/*The image will completely fill the div it's placed in*/
#project-img {
	max-width: 100%;
}

/*This adds a little space at the bottom of the page*/
.footer-space{
	height: 50px;
}

/*This makes a link within a paragraph remain the same color as the body text*/
.link a {
    color: #333333;
    text-decoration: none;
}
/* -----------------------CLASSES FOR PROJECT PAGES----------------------- */







